<section class="hero">
    <div class="hero-primary">
        <div id="hero-header-wrapper">
            <h3>{{data.intro}}</h3>
            <h1 id="hero-name">{{data.name}}</h1>
            <h2>{{data.title}}</h2>
            <p>{{data.text}}</p>
        </div>
        <div id="hero-btn-wrapper">
            <a class="btn-primary" (click)="scrollToHeader('head-work')">
                <span>Projects</span>
                <i class="icon-base icon-Chevron"></i>
            </a>
            <a class="btn-secondary" href="{{cv.path}}" download="{{cv.name}}">
                <span>CV</span>
                <i class="icon-base icon-Download"></i>
            </a>
        </div>
    </div>
</section>