@use '../../../stylesheets/utilities' as sass;


.hero {
    flex-direction: row; // media.scss
    width: 100%;
    height: calc(100vh - var(--comp-nav-height));
    margin-top: var(--comp-nav-height);

    .hero-primary {
        flex-direction: column;
        place-content: center;
        width: 100%; // media.scss
        height: 100%; // media.scss
        #hero-header-wrapper {
            flex-direction: column;
            max-width: 50%;
            margin: 0 auto;
            #hero-name {
                font-size: 100px;
                font-weight: 300;
                margin: 0;
                text-transform: uppercase;
                background: var(--theme-yqni13);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
            }
            h2 {
                font-size: 70px;
                font-weight: 300;
                margin: 0;
            }
            h3 {
                font-size: 40px;
                font-weight: 300;
                margin: 5px 0;
            }
            p {
                font-size: 25px;
                font-weight: 300;
                color: var(--theme-nav-border);
            }
        }
        #hero-btn-wrapper {
            flex-direction: row;
            width: 50%;
            margin: sass.$space15 auto 0 auto;
            a:nth-of-type(1) {
                margin-right: sass.$space50;
            }
        }
    }
}

.icon-Chevron {
    rotate: 180deg;
}