.cv {
    overflow-y: auto;
}

h2 {
    &:after {
        content: 'RESUME';
    }
}

.cv-download {
    text-align: center;
    margin: 50px 100px;
    text-transform: uppercase;
}

.cv-download a {
    padding: 10px 25px;
    text-decoration: none;
    background: transparent;
    color: var(--yqni13-pink);
    border: solid var(--yqni13-pink) 3px;
    border-style: outset;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 1px;
}

.cv-download a:hover {
    background-color: var(--yqni13-pink);
    color: var(--alice-blue);
    opacity: 0.6;
    border: solid var(--yqni13-pink) 1px;
    border-style: inset;
}

.block {
    h4 {
        font-style: italic;
        letter-spacing: 3px;
    }
    p {
        opacity: 0.7;
    }
}

h4, p {
    padding:0;
    margin:0;
}

.wrapper-cv h4 {
    margin-bottom: 25px;
}

.wrapper-cv {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-left: 100px;
    margin-right: 100px;
}

.left-exp {
    margin-left: 50px;
    text-align: left;
    h4 {
        text-align: left;
        padding-left: 15px;
    }
    p {
        padding-left: 15px;
        border-left-width: 4px;
        border-left-color: var(--yqni13-pink);
        border-left-style: double;
    }
}

.right-edu {
    margin-right: 50px;
    text-align: right;
    h4 {
        text-align: right;
        padding-right: 15px;
    }
    p {
        padding-right: 15px;
        border-right-width: 4px;
        border-right-color: var(--yqni13-pink);
        border-right-style: double;
    }
}

.wrapper-techstack {
    margin: 0px 100px;
}

.wrapper-techstack h4 {
    margin-top: 100px;
    text-align: center;
}

.wrapper-ul {
    text-align: -webkit-center;
}

.wrapper-ul ul {
    padding-inline-start: 0;
}

.wrapper-ul li {
    display: inline;
}

.wrapper-ul i {
    width: 60px;
    height: 60px;
    margin: 25px 25px;
}

.horizontal {
    height: 60px;
    width:90px!important;
}

.black-fill {
    background-color: var(--github-color);
}



