.cv {
    overflow-y: auto;
}

h2 {
    &:after {
        content: 'RESUME';
    }
}

.btn-cv {
    margin-top: 50px;
}

.block {
    h4 {
        font-style: italic;
        letter-spacing: 3px;
    }
    p {
        opacity: 0.7;
    }
}

h4, 
p {
    padding:0;
    margin:0;
}

.wrapper-cv h4 {
    margin-bottom: 25px;
}

.wrapper-cv {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0 100px;
    padding-top: 50px;
}

.experience-list {
    margin-left: 50px;
    text-align: left;
    h4 {
        text-align: left;
        padding-left: 15px;
    }
    p {
        padding-left: 15px;
        border-left-width: 4px;
        border-left-color: var(--yqni13-pink);
        border-left-style: double;
    }
}

.education-list {
    margin-right: 50px;
    text-align: right;
    h4 {
        text-align: right;
        padding-right: 15px;
    }
    p {
        padding-right: 15px;
        border-right-width: 4px;
        border-right-color: var(--yqni13-pink);
        border-right-style: double;
    }
}

.wrapper-techstack {
    margin: 0px 100px;
}

.wrapper-techstack h4 {
    margin-top: 100px;
    text-align: center;
}

.techstack-list {
    text-align: -webkit-center;
}

.techstack-list ul {
    padding-inline-start: 0;
}

.techstack-list li {
    display: inline;
}

.techstack-list i {
    width: 60px;
    height: 60px;
    margin: 25px 25px;
}

.horizontal {
    height: 60px;
    width:90px!important;
}

.black-fill {
    background-color: var(--github-color);
}



