<section class="box cv">
    <h2>CV.</h2>
    <div class="cv_download">
        <a href="">download - cv</a>
    </div>
    <div class="wrapper_cv block">
        <div class="column left_exp">
            <h4>Experience</h4>
            <p>
                Evolit Consulting GmbH, Vienna<br>
                07/2022 - 12/2023<br>
                Fullstack-Development | Testing
            </p>
        </div>
        <div class="column right_edu">
            <h4>Education</h4>
            <p>
                UAS Technikum Vienna<br>
                2020 - 2023<br>
                Computer Science, BSc
            </p>
        </div>
    </div>
    <div class="wrapper_techstack block">
        <!-- <div class="techstack_header"> -->
            <h4>Technical skills</h4>
        <!-- </div> -->
        <div class="wrapper_ul">
            <ul>
                <li><a href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank"><i class="icon-HTML5"></i></a></li>
                <li><a href="https://developer.mozilla.org/en-US/docs/Web/CSS?retiredLocale=de" target="_blank"><i class="icon-CSS3"></i></a></li>
                <li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank"><i class="icon-Javascript"></i></a></li>
                <li><a href="https://angular.io/" target="_blank"><i class="icon-Angular"></i></a></li>
                <li><a href="https://dotnet.microsoft.com/en-us/languages/csharp" target="_blank"><i class="icon-CSharp"></i></a></li>
                <li><a href="https://github.com/" target="_blank"><i class="icon-GitHub" id="black_fill"></i></a></li>
                <li><a href="https://about.gitlab.com/" target="_blank"><i class="icon-GitLab"></i></a></li>
                <li><a href="https://www.notion.so/product" target="_blank"><i class="icon-Notion"></i></a></li>
                <li><a href="https://www.atlassian.com/" target="_blank"><i class="icon-Atlassian"></i></a></li>
                <li><a href="https://www.docker.com/" target="_blank"><i class="icon-Docker"></i></a></li>
                <li><a href="https://www.mysql.com/" target="_blank"><i class="icon-MySQL" id="horizontal"></i></a></li>
                <li><a href="https://www.postgresql.org/" target="_blank"><i class="icon-PostgreSQL"></i></a></li>
                <li><a href="https://jquery.com/" target="_blank"><i class="icon-jQuery"></i></a></li>
                <li><a href="https://getbootstrap.com/" target="_blank"><i class="icon-Bootstrap"></i></a></li>
                <li><a href="https://nodejs.org/en" target="_blank"><i class="icon-Nodejs"></i></a></li>
                <li><a href="https://rxjs.dev" target="_blank"><i class="icon-RxJS"></i></a></li>
                <li><a href="https://www.npmjs.com/" target="_blank"><i class="icon-npm"></i></a></li>
            </ul>
        </div>
    </div>
    
</section>
