<section class="box cv">
    <h2>CV.</h2>
    <i *ngIf="!isBottomScrolled" class="icon-ScrollArrow scroll-indication"></i>
    <div class="btn-action-extern btn-cv">
        <a href="assets/pdf/CV_LukasVarga.pdf" download="CV_LukasVarga">download - cv</a>
    </div>

    <div class="wrapper-cv block">
        <div class="column experience-list">
            <h4>Experience</h4>
            <div class="experience-list-item">
                <p>
                    Evolit Consulting GmbH, Vienna<br>
                    07/2022 - 12/2023<br>
                    Fullstack-Development
                </p>
            </div>
        </div>
        <div class="column education-list">
            <h4>Education</h4>
            <div class="education-list-item">
                <p>
                    UAS Technikum Vienna<br>
                    09/2020 - 06/2023<br>
                    Computer Science, BSc
                </p>
            </div>
            <div class="education-list-item">
                <p>
                    Certificates.dev<br>
                    04/2025 - currently<br>
                    Mid-Level Angular Developer<br>
                    online certificate
                </p>
            </div>
        </div>
    </div>
    <div class="wrapper-techstack block">
            <h4>Technical skills</h4>
        <div class="techstack-list">
            <ul>
                <li *ngFor="let entry of skillList">
                    <a
                        title="{{entry.title}}"
                        href="{{entry.path}}"
                        target="_blank"
                    ><i class="{{entry.icon}}"></i></a>
                </li>
            </ul>
        </div>
        <h4>First Experiences</h4>
        <div class="techstack-list">
            <ul>
                <li *ngFor="let entry of experienceList">
                    <a
                        title="{{entry.title}}"
                        href="{{entry.path}}"
                        target="_blank"
                    ><i class="{{entry.icon}}"></i></a>
                </li>
            </ul>
        </div>
    </div>    
</section>
