<div class="cv">
    <h2>CV.</h2>
    <div class="wrapper_cv">
        <div class="column left_exp">
            <h4>Experience</h4>
            <p>
                Evolit Consulting GmbH<br>
                07/2022 - 12/2023<br>
                Fullstack-Development | Testing
            </p>
        </div>
        <div class="column right_edu">
            <h4>Education</h4>
            <p>
                FH Technikum Wien<br>
                2020 - 2023<br>
                Computer Science
            </p>
        </div>
    </div>
    <div class="skills_cv">
        <div class="row_skills">
            <h5>Languages</h5>
            <ul>
                <li>HTML5</li>
                <li>CSS3</li>
                <li>Javascript</li>
                <li>Typescript</li>
                <li>C#</li>
                <li>Python</li>
            </ul>
        </div>
        <div class="row_skills">
            <h5>Libraries</h5>
            <ul>
                <li>...</li>
            </ul>
        </div>
        <div class="row_skills">
            <h5>Frameworks</h5>
            <ul>
                <li>Angular</li>
                <li>Bootstrap</li>
                <li>Tailwind</li>
                <li>jQuery</li>
            </ul>
        </div>
        <div class="row_skills">
            <h5>Tools/Systems</h5>
            <ul>
                <li>GitHub</li>
                <li>GitLab</li>
                <li>Atlassian</li>
                <li>Notion</li>
                <li>Docker</li>
                <li>Node.js</li>
                <li>Git Extensions</li>
                <li>VS Code</li>
                <li>MySQL</li>
                <li>PostgreSQL</li>
            </ul>
        </div>
    </div>
</div>
