/* CUSTOM DEVICE SIZES */
$device-desktop-xk: 1440px;
$device-tablet-landscape: 1024px;
$device-phone-landscape: 768px;
$device-phone-portrait: 500px;
$device-small-any: 400px;


/* CUSTOM COLORS */
$color-darkmode-bg: #080c1a;
$color-lightmode-bg: #ebfcf7;

$color-ice-white: #f0f8ff;
$color-rich-black: #020d19;
$color-deep-blue: #011222;
$color-special-blue: #0f1320;
$color-dark-grey: rgb(162, 161, 161);
$color-light-grey: rgb(75, 75, 75);

$yqni13-lightmode-purple: #ae34e2;
$yqni13-darkmode-purple: #4e1066;

$yqni13-lightmode-pink: #de1f62;
$yqni13-darkmode-pink: #d82a67;

$color-theme-sun: rgb(219, 166, 5);
$color-theme-moon: #888888c3;

$color-lightmode-comp-grey: #e4eaed;
$color-darkmode-comp-grey: #252933;

$color-lightmode-grey: #818283;
$color-darkmode-grey: #5e5f63;

$color-lightmode-error: #b91c1c;
$color-darkmode-error: #ba3131;

$color-lightmode-primary: #0ba56f;
$color-darkmode-primary: $yqni13-darkmode-pink;

$color-lightmode-secondary: #0b6da5;
// $color-darkmode-secondary: #0d7a74;
$color-darkmode-secondary: #723a88;

$yqni13-lightmode-gradient: linear-gradient(160deg, $color-lightmode-primary, $color-lightmode-primary 100%);
$yqni13-darkmode-gradient: linear-gradient(160deg, $yqni13-darkmode-purple, $yqni13-darkmode-pink 100%);

// $bg-lightmode-gradient: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
// $bg-darkmode-gradient: conic-gradient(from 0deg at 0% 0%,#f0f8ff 2% 6%, 7%, $color-darkmode-bg 48% 9%);

$signature-white: invert(100%) sepia(59%) saturate(5190%) hue-rotate(179deg) brightness(107%) contrast(107%);

/* CUSTOM SIZES */
$space5: 5px;
$space15: 15px;
$space25: 25px;
$space50: 50px;
$space100: 100px;

.roboto-custom-font {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

