/* CUSTOM DEVICE SIZES */
$device-desktop-xk: 1440px;
$device-tablet-landscape: 1024px;
$device-phone-landscape: 768px;
$device-phone-portrait: 500px;
$device-small-any: 400px;


/* CUSTOM COLORS */
$color-ice-white: #f0f8ff;
$color-deep-blue: #011222;
$color-special-blue: #1c1e24;
$color-dark-grey: rgb(47, 46, 46);
$color-light-grey: rgb(75, 75, 75);

$color-theme-sun: rgb(219, 166, 5);
$color-theme-moon: #888888c3;

$color-lightmode-error: #b91c1c;
$color-darkmode-error: #ba3131;


/* CUSTOM SIZES */
$space5: 5px;
$space15: 15px;
$space25: 25px;
$space50: 50px;
$space100: 100px;


/* CUSTOM FONTS */
@font-face {
    font-family: 'Custom-RonySiswadi';
    src: url('/fonts/ronysiswadi/RonysiswadiArchitect6-X3V9G.ttf') format('truetype');
}