@use '../../../../stylesheets/utilities' as sass;


.work {
    flex-direction: column;
    position: relative;
    align-items: center;

    .work-content {
        margin: 0 0 sass.$space25 0;
    }
    #work-all-repo-link {
        display: flex;
        margin: 0 auto;
        align-items: center;
        text-decoration: none;
        color: var(--theme-body-text);
        font-weight: 300;

        i {
            margin-left: sass.$space5;
            $size: 15px;
            width: $size;
            height: $size;
        }
    }
}

.workcard-preview {
    width: stretch;
    flex-direction: column;
    border: 1px solid var(--theme-nav-grey);
    border-radius: 20px;
    padding: sass.$space25;
    margin: 7.5px;
    #workcard-preview-type {
        color: var(--theme-nav-grey);
    }
    h4 {
        font-size: 26px;
        font-weight: 300;
        margin: 15px 0;
        color: var(--theme-secondary);
    }
    #workcard-preview-intro {
        color: var(--theme-body-text);
        font-weight: 300;
    }
    p {
        margin: sass.$space25 0 0 0;
        color: var(--theme-grey);
        height: 60px;
        line-height: 20px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
    }
    #workcard-preview-hint {
        margin: 0 auto;
        display: flex;
        align-items: center;
        margin-top: 15px;
        color: var(--theme-primary);
        opacity: 0.85;
        font-weight: 300;
        i {
            margin-left: 5px;
            $size: 15px;
            width: $size;
            height: $size;
        }
    }
    #workcard-preview-links {
        flex-direction: column;
        margin: auto 0 0 0;
        a {
            display: flex;
            width: fit-content;
            align-items: center;
            margin-top: 10px;
            text-decoration: none;
            color: var(--theme-nav-grey);

            i {
                margin-left: 5px;
                $size: 20px;
                width: $size;
                height: $size;
            }
        }
    }
    &:hover {
        cursor: pointer;
        border: 1px solid var(--theme-primary);
        box-shadow: 1px 1px 20px 2px var(--theme-primary);
    }
}