<ng-template #workCard let-i="i" let-data="data">
    <div class="workcard-preview" (click)="openDetails(data)">
        <span id="workcard-preview-type">{{data.type}}</span>
        <h4>{{data.name}}</h4>
        <span id="workcard-preview-intro">{{data.intro}}</span>
        <p>{{data.description}}</p>
        <div id="workcard-preview-links">
            @if(data.links.demo) {
                <a href="{{data.links.demo}}">
                    <span>Demo</span>
                    <i class="icon-base icon-GoTo"></i>
                </a>
            }
            @if(data.links.live) {
                <a href="{{data.links.live}}">
                    <span>Live</span>
                    <i class="icon-base icon-GoTo"></i>
                </a>
            }
            <a href="{{data.links.repo}}">
                <span>Repository</span>
                <i class="icon-base icon-GitHub"></i>
            </a>
        </div>
    </div>
</ng-template>

<section class="work" id="head-work">
    <h3>{{data.title}}</h3>
    <span class="head-text">{{data.subTitle}}</span>
    <div class="work-content">
        @for(card of projects; track $index) {
            <ng-container 
                *ngTemplateOutlet="workCard; context: { i: $index, data: card }"
            ></ng-container>
        }
    </div>
    <a href="{{allRepoLink}}" target="_blank" id="work-all-repo-link">
        <span>View all projects on GitHub</span>
        <i class="icon-base icon-GoTo"></i>
    </a>
    @if(cardDetails) {
        <app-workcard [data]="cardDetails" (byChange)="closeDetails($event)"></app-workcard>
    }
</section>