.main-notifymodal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 100%;
    backdrop-filter: contrast(0.7) blur(3px);
}

main {
    position: relative;
    z-index: 1;
}

app-navbar,
app-footer {
    position: relative;
    z-index: 999;
}

app-scrolldown-indicator {
    position: fixed;
    z-index: -1;
    bottom: 10px;
    right: 40px;
}