<ng-template #expCard let-i="i" let-data="data">
    <div class="experience-card">
        <div class="experience-card-link">
            @if(data.institute.link) {
                <a
                    href="{{data.institute.link ?? null}}"
                    target="_blank"
                    [ngStyle]="{'cursor': 'pointer'}"
                    class="cursor-pointer link-primary"
                >
                    <span class="experience-card-link-institute">
                        {{data.institute.name}}
                        @if(data.institute.link) {
                            <i class="icon-base icon-GoTo"></i>
                        }
                    </span>
                </a>
            } @else {
                <a [ngStyle]="{'cursor': 'default'}">
                    {{data.institute.name}}
                </a>
            }
            <span class="experience-card-link-type">{{'| ' + data.type}}</span>
        </div>
        <div class="experience-card-head">
            <h4>{{data.title}}</h4>
            <span>{{data.time}}</span>
        </div>
        <ul class="experience-card-core">
            @for(element of data.core; track $index) {
                <li>
                    <span>{{element}}</span>
                </li>
            }
        </ul>
        <div class="experience-card-keys">
            @for(item of data.keys; track $index) {
                <span>{{item}}</span>
            }
        </div>
    </div>
</ng-template>

<section class="experience" id="head-experience">
    <div class="page-head-wrapper">
        <h3>{{data.title}}</h3>
        <span class="head-text">{{data.subTitle}}</span>
    </div>
    <div class="experience-content">
        @for(card of experiences; track $index) {
            <div class="experience-content-wrapper">
                <div class="experience-timeline">
                    <div class="timeline-marker"></div>
                </div>
                <ng-container 
                    *ngTemplateOutlet="expCard; context: { i: $index, data: card }"
                ></ng-container>
            </div>
        }
    </div>
</section>