<section class="box about">
    <h2>About.</h2>
    <i *ngIf="!isBottomScrolled" class="icon-ScrollArrow scroll-indication"></i>
    <!-- PERSONAL INFORMATION | PERSONAL INFORMATION | PERSONAL INFORMATION -->
    <div class="wrapper-about-profile">
        <div class="column about-first-info">
            <div class="wrapper-img">
                <img class="profile-img" src="assets/img/transparent_profile_about.png" alt="">
                <img class="signature-img" src="assets/img/transparent_signature.png" alt="">
            </div>
        </div>
        <div class="column about-second-info">
            <h5>Frontend-Developer</h5>
            <p>
                I'm Lukas, a Junior level Web Developer with a strong focus on frontend design, residing near Vienna, Austria. I find immense joy and pride in taking an idea from conception to a fully realized webpage or application, all while continuously learning and growing along the way.
                <br><br>
                My passion for software development stems from my commitment to delivering my best work and improving with each project. In my spare time, I love cooking (eating as well), sharing laughs with my mom while poking fun at interior design mishaps on television, and rescuing my plants from the brink of dehydration—sometimes I get so engrossed in perfecting that div layout that I forget to water them.
            </p>
        </div>
        <div class="column about-third-info">
            <h5>Personal Information</h5>
            <form class="info-form">
                <div>
                    <label for="user-name">Name:</label>
                    <input type="text" name="user-name" value="Lukas Varga">
                </div>
                <div>
                    <label for="user-age">Age:</label>
                    <input type="text" name="user-age" value="{{userAge}}">
                </div>
                <div>
                    <label for="user-born">City:</label>
                    <input type="text" name="user-born" value="Vienna">
                </div>
                <div>
                    <label for="user-nationality">Nationality:</label>
                    <input type="text" name="user-nationality" value="Austria">
                </div>
                <div>
                    <label for="user-language">Language:</label>
                    <input type="text" name="user-language" value="German (NL), English (C1)">
                </div>
                <div>
                    <label for="user-mail">Mail:</label>
                    <input type="text" name="user-mail" value="yqni13@protonmail.com">
                </div>
                
            </form>
            <div class="btn-action-extern btn-about">
                <a href="mailto:yqni13@protonmail.com">CONTACT ME</a>
            </div>
        </div>
    </div>

    <!-- SERVICES | SERVICES | SERVICES -->
    <div class="about-service">
        <h5>Services</h5>
        <div class="column-service about-service1">
            <i class="icon-Development"></i>
            <h6>WEB-DEVELOPMENT</h6>
            <p>
                My goal is to enhance the online experience of users by optimized performance and accessibility as well as visually appealing layouts.
            </p>
        </div>
        <div class="column-service about-service2">
            <i class="icon-Responsive"></i>
            <h6>RESPONSIVE-DESIGN</h6>
            <p>
                I aim to utilize proper methods and techniques to craft designs that adapt seamlessly to screen sizes and devices, prioritizing an optimal user experience.</p>
        </div>
        <div class="column-service about-service3">
            <i class="icon-Usability"></i>
            <h6>USABILITY & DETAILS</h6>
            <p>
                Combining my keen eye to detail and knowledge in heuristics, design principles, and other critical elements, I am dedicated to continuously enhancing both new and existing designs.
            </p>
        </div>
    </div>
    
    <!-- FUN FACTS | FUN FACTS | FUN FACTS -->
    <div class="about-funfacts">
        <h5>Interests & Hobbies</h5>
        <div class="column-funfacts about-fact1">
            <i class="icon-Reading"></i>
            <h6>Manga</h6>
            <p>I'm a big fan of new stories and developments and I look forward to sharing them with my future family someday.</p>
        </div>
        <div class="column-funfacts about-fact2">
            <i class="icon-Gaming"></i>
            <h6>Gaming</h6>
            <p>Despite not being an avid gamer, I enjoy the sense of community and spontaneous conversations with other players. It's a great way to unwind and relax after particularly stressful days.</p>
        </div>
        <div class="column-funfacts about-fact3">
            <i class="icon-Meditation"></i>
            <h6>Meditation</h6>
            <p>It took me some time to learn how to focus on my problems and weaknesses to process and improve them.</p>
        </div>
        <div class="column-funfacts about-fact4">
            <i class="icon-Golf"></i>
            <h6>Golf</h6>
            <p>
                I'm a former hcp -2 player who still knows what it takes to make the 1m put 10/10 times under pressure. For years I lived all day long on the golf course and good results do not come from luck and good hope.
            </p>
        </div>
    </div>
</section>
