<div class="about">
    <h2>About.</h2>

    <!-- PERSONAL INFORMATION | PERSONAL INFORMATION | PERSONAL INFORMATION -->
    <div class="wrapper_about_profile">
        <div class="column profile_picture" id="about_first_info">
            <img src="../../assets/img/profile_picture.png" alt="">
        </div>
        <div class="column" id="about_second_info">
            <h5>Frontend Web-Developer</h5>
            <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Takimata sanctus est Lorem ipsum dolor sit amet.<br><br> 
    
                Placeholder for Signature.
            </p>
            <div class="signature">
                <img src="" alt="">
            </div>
        </div>
        <div class="column" id="about_third_info">
            <h5>Personal Information</h5>
            <form id="info_form">
                <div>
                    <label for="user_name">Name:</label>
                    <input type="text" name="user_name" value="Lukas Varga">
                </div>
                <div>
                    <label for="user_age">Age:</label>
                    <input type="text" name="user_age" value="30">
                </div>
                <div>
                    <label for="user_born">Born:</label>
                    <input type="text" name="user_born" value="Vienna">
                </div>
                <div>
                    <label for="user_nationality">Nationality:</label>
                    <input type="text" name="user_nationality" value="Austria">
                </div>
                <div>
                    <label for="user_language">Language:</label>
                    <input type="text" name="user_language" value="German (NL), English (C1)">
                </div>
                <div>
                    <label for="user_mail">Mail:</label>
                    <input type="text" name="user_mail" value="yqni13@protonmail.com">
                </div>
                
            </form>
            <div class="download_button">
                <a href="mailto:yqni13@protonmail.com">CONTACT ME</a>
            </div>
        </div>
    </div>

    <!-- SERVICES | SERVICES | SERVICES -->
    <div class="about_service">
        <h5>Services</h5>
        <div class="column_service" id="about_service1">
            <i class="icon-Development"></i>
            <h6>WEB-DEVELOPMENT</h6>
            <p>I develop web applications.</p>
        </div>
        <div class="column_service" id="about_service2">
            <i class="icon-Responsive"></i>
            <h6>RESPONSIVE-DESIGN</h6>
            <p>I design in a responsive way.</p>
        </div>
        <div class="column_service" id="about_service3">
            <i class="icon-Usability"></i>
            <h6>USABILITY</h6>
            <p>I consider rules and elements to improve usability.</p>
        </div>
    </div>
    
    <!-- FUN FACTS | FUN FACTS | FUN FACTS -->
    <div class="about_funfacts">
        <h5>Interests & Hobbies</h5>
        <div class="column_funfacts" id="about_fact1">
            <i class="icon-Reading"></i>
            <h6>Manga</h6>
            <p>great fan of new stories and developments.</p>
        </div>
        <div class="column_funfacts" id="about_fact2">
            <i class="icon-Gaming"></i>
            <h6>Gaming</h6>
            <p>Use and apply technology.</p>
        </div>
        <div class="column_funfacts" id="about_fact3">
            <i class="icon-Meditation"></i>
            <h6>Meditation</h6>
            <p>Focus on my own problems and weaknesses to process and improve them.</p>
        </div>
        <div class="column_funfacts" id="about_fact4">
            <i class="icon-Golf"></i>
            <h6>Golf</h6>
            <p>Discuss with me why chipping from fore-green is better than putting.</p>
        </div>
    </div>
</div>
