<section class="contact" id="head-contact">
    <div class="page-head-wrapper">
        <h3>{{data.title}}</h3>
        <span class="head-text">{{data.subTitle}}</span>
    </div>
    <div class="contact-content">
        <div class="contact-form-wrapper">
            <h4>Send a message</h4>
            <form>
                <app-select-input
                    [fieldState]="contactForm.salutation()"
                    [placeholder]="'How should I address you?*'"
                    [fieldName]="'salutation'"
                    [options]="{female: 'Ms.', male: 'Mr.'}"
                    [customStyle]="getCustomInputStyle()"
                    [readonlyStyle]="getCustomReadonlyStyle()"
                    [icon]="'Salutation'"
                ></app-select-input>
                <app-text-input
                    [fieldState]="contactForm.name()"
                    [placeholder]="'Your name*'"
                    [fieldName]="'name'"
                    [customStyle]="getCustomInputStyle()"
                    [icon]="'User'"
                ></app-text-input>
                <app-text-input
                    [fieldState]="contactForm.email()"
                    [placeholder]="'Your email*'"
                    [fieldName]="'email'"
                    [customStyle]="getCustomInputStyle()"
                    [icon]="'MailThin'"
                ></app-text-input>
                <app-text-input
                    [fieldState]="contactForm.subject()"
                    [placeholder]="'What topic is it about?*'"
                    [fieldName]="'subject'"
                    [customStyle]="getCustomInputStyle()"
                    [icon]="'Subject'"
                ></app-text-input>
                <app-textarea-input
                    [fieldState]="contactForm.message()"
                    [fieldName]="'message'"
                    [placeholder]="'What are we talking about?*'"
                    [customStyle]="getCustomInputStyle()"
                    [icon]="'Message'"
                    [rows]="7"
                ></app-textarea-input>
                @if(contactForm.message().value().length <= lengthValidation.message) {
                    <span id="contact-message-length">
                        {{(lengthValidation.message - contactForm.message().value().length) + ' / ' + lengthValidation.message}}
                    </span>
                }
                <a
                    class="btn-primary"
                    (click)="onSubmit()"
                    (keydown.enter)="onSubmit()"
                    [attr.tabindex]="0"
                >
                    <span>Send message</span>
                    <i class="icon-base icon-Send"></i>
                </a>
                <span id="contact-hint">
                    I value your privacy. Your information will never be shared with third parties.
                </span>
            </form>
        </div>
    </div>
    @if(isLoading()) {
        <app-loader></app-loader>
    }
</section>