<div class="portfolio-fullstack portfolio-wrapper">
    <div class="card">
        <img src="assets/img/be_tourplanner.jpg" alt="no picture available">
        <div class="card-text">
            <h4>{{projectData["Tourplanner"].title}}
                <a href="https://github.com/yqni13/TourPlanner" target="_blank" class="a-github">
                    <i class="icon-GitHub"></i>
                </a>
            </h4>
            <p>
                keywords:<br>
                {{projectData["Tourplanner"].keywords}}
                <br><br>
                v{{projectData["Tourplanner"].version}}, University Project
            </p>
            <div class="card-technology">
                <a href="https://dotnet.microsoft.com/en-us/languages/csharp" target="_blank">
                    <i class="icon-CSharp"></i>
                </a>
                <a href="https://learn.microsoft.com/en-us/visualstudio/get-started/csharp/tutorial-wpf?view=vs-2022" target="_blank">
                    <i class="icon-MicrosoftWPF"></i>
                </a>
                <a href="https://www.postgresql.org/" target="_blank">
                    <i class="icon-PostgreSQL"></i>
                </a>
                <a href="https://developer.mapquest.com/" target="_blank">
                    <i class="icon-MapQuest"></i>
                </a>
                <a href="https://www.json.org/json-en.html" target="_blank">
                    <i class="icon-JSON"></i>
                </a>
            </div>
        </div>
    </div>
</div>