@use '../../../../stylesheets/utilities' as sass;


.badge-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: sass.$space15 sass.$space25; // media.scss
    border: 1px solid var(--theme-grey);
    border-radius: 10px;
    background-color: var(--theme-component);
    text-decoration: none;
    i {
        margin-right: 12.5px;
    }
    span {
        font-size: 20px;
        color: var(--theme-body-text);
    }
    &:hover {
        box-shadow: 2px 2px 4px var(--theme-body-text);
    }
}

.GitHub-light {
    color: sass.$color-rich-black;
}

.GitHub-dark {
    color: sass.$color-ice-white;
}