@use '../../../../stylesheets/utilities' as sass;


$border-width: 1px;

nav {
    display: flex;
    flex-direction: row;
    align-items: center;

    position: fixed;
    top: 0;

    width: 100%;
    height: calc(var(--comp-nav-height) - $border-width);
    border-bottom: $border-width solid var(--theme-nav-border);
    backdrop-filter: blur(5px);

    .navbar-logo-wrapper {
        height: 100%;
        margin-left: sass.$space25;
        margin-right: auto;

        img {
            padding: 10px;
            &:hover {
                cursor: pointer;
            }
        }
    }

    .navbar-content-wrapper {
        flex-direction: row;
        align-items: center;
        height: 100%;
        margin-left: auto;
        margin-right: sass.$space25;

        a {
            color: var(--theme-body-text);
            text-decoration: none;
            margin: sass.$space15;
            cursor: pointer;
            font-weight: 400;
        }
        .navbar-links>i {
            transition: transform 300ms ease-in-out;
            &:hover {
                transform: scale(1.3);
            }
        }
        .navbar-menu:hover {
            border-bottom: 2px solid var(--theme-primary);
            color: var(--theme-primary);
        }
    }
}

.icon-lightMode {
    color: sass.$color-theme-sun;
}

.icon-darkMode {
    color: sass.$color-theme-moon;
}

.symbol-light {
    color: sass.$color-rich-black;
}

.symbol-dark {
    color: sass.$color-ice-white;
}