<nav class="navbar">
    <div class="navbar-logo-wrapper">
        <img src="yqni13_logo256.ico" alt="yqni13 logo" (click)="scrollToTop()">
    </div>
    <div class="navbar-content-wrapper">
        <a href="{{links.github}}" target="_blank" class="navbar-links">
            <i
                class="icon-base icon-GitHub"
                ngClass="{{selectedTheme === themeEnum.DARK ? 'symbol-dark' : 'symbol-light'}}"
            ></i>
        </a>
        <a href="{{links.linkedin}}" target="_blank" class="navbar-links">
            <i
                class="icon-base icon-LinkedIn"
                ngClass="{{selectedTheme === themeEnum.DARK ? 'symbol-dark' : 'symbol-light'}}"
            ></i>
        </a>
        <a href="mailto:{{links.mail}}" class="navbar-links">
            <i
                class="icon-base icon-Mail"
                ngClass="{{selectedTheme === themeEnum.DARK ? 'symbol-dark' : 'symbol-light'}}"
            ></i>
        </a>
        <a class="navbar-links">
            <i
                class="icon-base"
                ngClass="{{selectedTheme === themeEnum.DARK ? 'icon-darkMode' : 'icon-lightMode'}}"
                (click)="setThemeByUser()"
                #themeIcon
            ></i>
        </a>
        <a class="navbar-menu" (click)="scrollToHeader('head-work')">Work</a>
        <a class="navbar-menu" (click)="scrollToHeader('head-skills')">Skills</a>
        <a class="navbar-menu" (click)="scrollToHeader('head-about')">About</a>
        <a class="navbar-menu" (click)="scrollToHeader('head-contact')">Contact</a>
    </div>
</nav>