.portfolio {
    overflow-y: auto;
    margin-left: 12.5%;
}

.page-header {
    display: inline-flex;
    margin: 25px 0px;
}

.page-header span {
    font-weight: bold;
    font-size: 20px;
}

.page-header span:hover {
    background: var(--yqni13-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.portfolio-page {
    padding: 15px;
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

span {
    color: var(--header-color);
}

.row {
    display: flex;
    justify-content: center;
}

.quad {
    position: relative;
    display:flex;
    flex-direction: column;
    text-align: left; /* added technology symbols otherwise centered */
    align-items: center;
    justify-content: end;
    margin-top: 4px;
}

.quad img {
    // border: solid var(--special-color1) 2px;
    width: 400px;
    height: 300px;
    margin: 0px 2px 0px 2px;
    color: var(--alice-blue);
}

.quad img:hover
{
    opacity: 0.25;
}

.quad:hover .card-text {
    opacity: 1;
}

.card-text a.a-github {
    vertical-align: sub;
    margin-left: 10px;
}


.card-text {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    align-content: end;
    backdrop-filter: blur(2px) brightness(0.5);
}

.card-text p {
    color: var(--alice-blue);
    font-size: 16px;
    padding: 10px 50px 0px 50px;
    text-align: justify;
}

.card-technology {
    padding-left: 50px;
}

.card-technology i {
    margin: 0px 20px 10px 0px;
    width: 24px;
    height: 24px;
}

.quad:hover .icon-GitHub {
    animation-name: github-animation;
    animation-duration: 2s;
}

@keyframes github-animation {
    to { transform: scale(1.5) };
    to { transform: rotate(360deg) };
}

.icon-GitHub:hover {
    opacity:0.4;
}