<section class="box portfolio">
    <h2>Portfolio.</h2>
    <nav class="page-header">
        <div (click)="filterForType(portfolioType.all)" class="portfolio-page" 
        [ngClass]="activeType === portfolioType.all ? 'active-route' : ''">
            <span>ALL</span>
        </div>
        <a (click)="filterForType(portfolioType.frontend)" class="portfolio-page"
        [ngClass]="activeType === portfolioType.frontend ? 'active-route' : ''">
            <span>FRONTEND</span>
        </a>
        <a (click)="filterForType(portfolioType.fullstack)" class="portfolio-page"
        [ngClass]="activeType === portfolioType.fullstack ? 'active-route' : ''">
            <span>FULLSTACK</span>
        </a>
        <a (click)="filterForType(portfolioType.module)" class="portfolio-page"
        [ngClass]="activeType === portfolioType.module ? 'active-route' : ''">
            <span>MODULES</span>
        </a>
    </nav>
    <div class="keyword-wrapper">
        <input 
        type="text" 
        id="keywords" 
        name="keywords" 
        placeholder="Search keywords" 
        (input)="detectKeywordInput($event)" 
        (keydown.enter)="filterResults(keywordInputField.value)" 
        #keywordInputField
        >
        <a (click)="filterResults(keywordInputField.value)"><i class="icon-Search"></i></a>
        <a (click)="removeKeyword()" *ngIf="hasInput"><i class="icon-Close"></i></a>
    </div>
    <template-portfolio-card></template-portfolio-card>
</section> 