:root {
    /* yqni13 colors */
    --yqni13-purple: #650D88;
    --yqni13-pink: #BC0C79;

    /* white type colors */
    --snow-white: #FFFAFA;
    --ghost-white: #F8F8FF;
    --alice-blue: #F0F8FF;
    --antiflesh-white: #FAFAFA;
    --gainsboro-white: #F1EFF2;
    --off-white: #FBFBFB;
    --ivory-white: #FFFFF0;

    /* black type colors */
    --obsidian-black: #0B1215; // nr 1
    --charcoal-grey: #171717;
    --oil-black: #0C0C0C;
    --darkslate-grey: #0D1717;    
    
    /* dark blue type colors */
    --midnight-blue: #101720;
    --deepnavy-blue: #011222;
    --rich-black: #020D19;

    /* dark mode theme#1 dark-red */
    --darkmode1-black1: #000000;
    --darkmode1-red1: #3D0000;
    --darkmode1-red2: #950101;
    --darkmode1-red3: #FF0000;

    /* dark mode theme#2 dark-orange */
    --darkmode2-black1: #222831;
    --darkmode2-grey1: #393E46;
    --darkmode2-orange1: #FD7014;
    --darkmode2-white1: #EEEEEE;

    /* dark mode theme#3 dark-pink */
    --darkmode3-black1: #000000;
    --darkmode3-pink1: #86003C;
    --darkmode3-pink2: #E41F7B;
    --darkmode3-pink3: #FF8BA0;

    /* dark mode theme#4 dark-turquoise */
    --darkmode4-black1: #222831;
    --darkmode4-grey1: #393E46;
    --darkmode4-torquoise1: #00ADB5;
    --darkmode4-torquoise2: #00FFF5;

    /* dark mode theme#5 dark-purple */
    --darkmode5-black1: #000000;
    --darkmode5-purple1: #3E065F;
    --darkmode5-purple2: #700B97;
    --darkmode5-purple3: #8E05C2;

    /* dark mode theme6 dark-grey */
    --darkmode6-black1: #2A2438;
    --darkmode6-grey1: #352F44;
    --darkmode6-grey2: #5C5470;
    --darkmode6-grey3: #DBD8E3;

    /* white mode theme1 grey/brown/beige */
    --whitemode1-champagne: #8fd0b8;
    --whitemode1-sand: #EECAAB;
    --whitemode1-grey: #E9E6DB;
    --whitemode1-cultured: #FBF7F4;
    --whitemode1-pink: #ca7394;

    /* other defined colors */
    --phtalo-green: #0D413A;
    --bordeau-red: #420116;
    --formel1-red: #910001;
    --tangerine-yellow: #f3b20e;
    --acting-grey: #7e7e7e;
    --highlight-grey: rgba(128, 128, 128, 0.4);
    --lightmode-grey: #363636;

    /* BACKGROUND-IMAGE LINEAR-GRADIENT */
    --yqni13-gradient: linear-gradient(167deg, #650D88 42%, #BC0C79 90%);
    --yqni13-webgradient: -webkit-linear-gradient(303deg, #bc0c79 0%, #650d88 70% 70%);
    --portfolio-gradientdark: conic-gradient(from 0deg at 0% 0%,#f0f8ff 2% 6%, 7%, #011222 47% 9%);
    --bg-gradientdark: conic-gradient(from 0deg at 0% 0%,#f0f8ff 2% 6%, 7%, #101720 47% 9%);
    --bg-gradientlight: conic-gradient(from 0deg at 0% 0%,#fffafa 17% 28%, 36%, #fd9 100%);
    --gradient-pink: conic-gradient(from 0deg at 0% 0%,#ff8ba0 28% 0%, 38%, #ff8ba0 46% 99%);
}

[data-theme="light"] {
    --navbar-bg: var(--lightmode-grey);
    --navbar-content: var(--acting-grey);
    --navbar-text: var(--alice-blue);
    --navbar-border: var(--darkmode3-pink3);
    --body-bg: var(--bg-gradientlight);
    --header-color: var(--darkmode6-grey1);
    --text-color: var(--darkmode6-grey2);
    --special-color1: var(--whitemode1-pink);
    --border-line: var(--darkmode3-pink3);
    --home-frontend: var(--gradient-pink);
    --portfolio-card: var(--gradient-pink);
    --active-link: var(--gradient-pink);
    --opacity-bg: 0.45;
}

[data-theme="dark"] {
    --navbar-bg: var(--deepnavy-blue);
    --navbar-content: var(--acting-grey);
    --navbar-text: var(--alice-blue);
    --navbar-border: var(--highlight-grey);
    --body-bg: var(--bg-gradientdark);
    --header-color: var(--alice-blue);
    --text-color: var(--alice-blue);
    --special-color1: var(--yqni13-pink);
    --border-line: var(--alice-blue);
    --home-frontend: var(--yqni13-gradient);
    --portfolio-card: var(--portfolio-gradientdark);
    --active-link: var(--yqni13-gradient);
    --opacity-bg: 0.25;
}


