/* width devices */
$desktop-width: 1439px;
$tablet-landscape-width: 1024px;
$phone-landscape-width: 768px;
$phone-portrait-width: 480px;


/* window.screen.width <= 768px */
[data-nav='navMobileExpanded'] {
    --block-margin: 60px;
    --burgermenu-size: 50px;
    --copyright-display: block;
    --copyright-margin: auto 0 5% 0;
    --linkicons-size: 30px;
    --nav-direction: column;
    --nav-full: block;
    --nav-logo: 150px;
    --nav-padding: 30px 0px 0px 0px;
    --nav-size: 100%;
    --nav-z: 2;
    --navtext-size: 2rem;
}

/* window.screen.width <= 768px */
[data-nav='navMobileCollapsed'] {
    --block-margin: 60px;
    --burgermenu-size: 30px;
    --copyright-display: none;
    --copyright-margin: 0 auto 0 5%;
    --linkicons-size: 25px;
    --nav-direction: row-reverse;
    --nav-full: none;
    --nav-padding: 0 30px 0 0;
    --nav-size: 60px;
    --nav-z: 1;
    --navtext-size: 25px;
    --scroll-margin: 10px;
}

[data-nav='navDesktop'] {
    --block-margin: 180px;
    --copyright-display: block;
    --copyright-margin: 0 0 5px 0;
    --linkicons-size: 30px;
    --nav-full: block;
    --nav-logo: 100px;
    --nav-padding: 30px 0px 0px 0px;
    --nav-size: 180px;
    --nav-z: 0;
    --scroll-margin: 200px;
}


