/* media queries for responsive design regarding devices */

@import 'defines.scss';

// TODO(yqni13): adapt styling to avoid !important declarations
@media screen and (width >= $desktop-width) {

    // BASIC
    .box { 
        margin-left: var(--block-margin); 
    }
    p { 
        font-size: 16px; 
    }

    .nav-bar {
        .nav-logo { 
            width: var(--nav-logo); 
        }
        ul { 
            width: var(--nav-size); 
        }
        .nav-collapse { 
            display: none!important; 
        }
    }

    .home {
        .introduction {
            max-width: 45%;
            h1 {
                margin:0px 0px 12px 100px;
            }
            p {
                margin: 0px 0px 0px 100px;
                font-size: 24px;
            }
        }
    }

    .about {
        .signature-img {
            width: 12.5vw;
        }
    }

    .cv {
        .wrapper-cv {
            p {
                font-size: 24px;
            }
        }
        .experience-list {
            margin-left: 150px!important;
        }
        .education-list {
            margin-right: 150px!important;
        }
        .wrapper-techstack h4 {
            margin: 0px 100px;
        }
        .techstack-list {
            margin: 0px 100px;
            ul {
                width: 75%;
            }
        }
    }

    .portfolio {
        .card {
            h4 {
                top: 5%!important;
            }
            p {
                font-size:16px;
                margin: 10px 50px 0px 50px;
            }
            img {
                width: 400px;
                aspect-ratio: 4 / 3;
            }
            i {
                width: 24px;
                height: 24px;
            }
            .card-technology {
                margin-left: 50px;
            }
        }
    }
}

@media screen and (width <= $desktop-width) {

    // BASIC
    .box { 
        margin-left: var(--block-margin); 
    }
    p { 
        font-size: 14px; 
    }
    
    .nav-bar {
        .nav-logo { 
            width: var(--nav-logo); 
        }
        ul { 
            width: var(--nav-size); 
        }
        .nav-collapse { 
            display: none!important; 
        }
        .nav-full { 
            display: var(--nav-full)!important; 
        }
    }
    
    .home {
        .introduction {
            max-width: 55%;
            h1 {
                font-size: 45px;
                margin:0px 0px 12px 100px;
            }
            p {
                margin: 0px 0px 0px 100px;
                font-size: 22px;
            }
        }
    }

    .about {
        .wrapper-about-profile {
            display: flex;
            flex-wrap: wrap;
            h5 {
                margin: 0px 50px 25px 50px!important;
            }
            p, form, img {
                font-size: 20px!important;
                margin: 0px 50px!important;
            }
            label {
                font-size:24px!important;
            }
            input {
                font-size: 20px!important;
            }
        }
        .about-first-info {
            max-width: 400px;
            width: calc(40% + 1vw)!important;
            order: 1!important;
            text-align: center!important;
        }
        .about-second-info {
            width: 100%!important;
            order: 3!important;
        }
        .about-third-info {
            width: 50%!important;
            order: 2!important;
        }
        .signature-img {
            width:200px;
        }
    }

    .cv {
        .wrapper-cv {
            p {
                font-size: 20px;
            }
        }
        .experience-list {
            margin-left: 100px!important;
        }
        .education-list {
            margin-right: 100px!important;
        }
        .wrapper-techstack h4 {
            margin: 0px 100px;
        }
        .techstack-list {
            margin: 0px 100px;
            ul {
                width: 100%;
            }
        }
    }

    .portfolio {
        .card {
            h4 {
                font-size: 24px!important;
                margin: 0 0 0 25px!important;
            }
            p {
                font-size:12px;
                margin: 5px 25px 0px 25px;
            }
            img {
                width: 300px;
                aspect-ratio: 4 / 3;
            }
            i {
                width: 20px;
                height: 20px;
            }
            a.a-github {
                vertical-align: middle;
            }
            .card-technology {
                margin-left: 25px;
            }
        }        
    }
}

@media screen and (width <= $tablet-landscape-width) {

    // BASIC
    .box { 
        margin-left: var(--block-margin); 
    }
    p { 
        font-size: 14px; 
    }
    
    .nav-bar {
        .nav-logo { 
            width: var(--nav-logo); 
        }
        ul { 
            width: var(--nav-size); 
        }
        .nav-collapse { 
            display: none!important; 
        }
        .nav-full { 
            display: var(--nav-full)!important; 
        }
    }

    .error-msg-box {
        .error-wrapper {
            p {
                font-size: 1.5em!important;
            }
            a {
                font-size:1em!important;
            }
        }
    }

    .home {
        justify-content: center;
        .introduction {
            max-width: 75%;
            top: 75px!important;
            padding-bottom: 50px;
            h1 {
                font-size: 40px;
                margin: 0px 50px 12px 50px;
            }
            p {
                margin: 0px 50px;
                font-size: 20px;
                text-align: justify;
            }
        }
    }

    .about {
        .wrapper-about-profile {
            h5 {
                margin: 0px 0px 25px 50px!important;
            }
            p, form {
                font-size: 18px!important;
                margin: 0px 0px 0px 50px!important;
            }
            img {
                margin: 0px!important;
            }
            label {
                font-size:20px!important;
            }
            input {
                font-size: 16px!important;
            }
        }
        .about-first-info {
            width: 40%!important;
        }
        .about-second-info {
            h5 {
                margin: 0px 50px 25px 50px!important;
            }
            p {
                margin: 0px 50px!important;
            }
        }
        .about-third-info {
            width: 60%!important;
        }
        .signature-img {
            width: 150px;
        }
        .about-service,
        .about-funfacts {
            margin: 100px 50px 25px 50px!important;
            h6 {
                font-size: 18px!important;
            }
            p {
                font-size: 16px!important;
            }
            i {
                width: 40px!important;
                height: 40px!important;
            }
        }
    }

    .cv {
        .experience-list {
            margin-left: 50px!important;
        }
        .education-list {
            margin-right: 50px!important;
        }
        .wrapper-techstack h4 {
            margin: 0px 100px;
        }
        .techstack-list {
            margin: 0px 50px;
            ul {
                width: 100%;
            }
        }
        .techstack-list i {
            width: 50px!important;
            height: 50px!important;
        }
    }
}

@media screen and (width <= $phone-landscape-width) {

    // BASIC
    .box { 
        margin-left: 0; 
        margin-top: var(--block-margin);
    }
    h2 {
        font-size: 35px;
        &::after {
            font-size: 70px!important;
            top: 73px!important;
            left: 5px;
        }
    }
    
    .nav-bar {
        display: flex!important;
        position: relative;
        z-index: var(--nav-z);
        .nav-unfold { 
            display: block!important; 
        }
        .nav-mobile {
            width: var(--burgermenu-size);
            height: var(--burgermenu-size);
        }
        .nav-copyright { 
            margin: 0; 
        }
        .nav-logo { 
            width: var(--nav-logo); 
        }
        ul { 
            width: 100vw;
            height: var(--nav-size)!important;
            flex-direction: var(--nav-direction)!important;
            border-right: none!important;
            border-bottom: solid var(--navbar-border) 3px;
        }
        .nav-full { 
            display: var(--nav-full)!important; 
        }
        span, .setVisible {
            font-size: var(--navtext-size)!important;
        }
        li {
            padding: var(--nav-padding)!important;
            align-self: center;
        }
        ul>:last-child {
            margin: var(--copyright-margin)!important;
            i, img {
                width: var(--linkicons-size)!important;
                height: var(--linkicons-size)!important;
            }
        }
        ul>:last-child p {
            padding: 0 10px!important;
            display: var(--copyright-display);
            i {
                width: 12px!important;
                height: 12px!important;
            }
        }
    }

    .error-msg-box {
        .error-wrapper {
            width: 80vw!important;
            padding-bottom: 25px!important;
            p {
                font-size: 1.2em!important;
            }
        }
    }

    .home {
        .introduction {
            max-width: 100%;
            top: 125px!important;
            left: 0px!important;
            padding-bottom: 50px;
            h1 {
                font-size: 35px;
                margin: 0px 50px 12px 50px;
            }
            p {
                margin: 0px 50px;
                font-size: 18px;
                text-align: justify;
            }
        }
    }

    .about {
        h2 {
            margin: 50px 50px 0px 50px!important;
        }
        .wrapper-about-profile {
            margin: 0px 50px!important;
        }
        .about-second-info {
            h5 {
                margin: 0px 0px 25px 0px!important;
            }
            p {
                margin: 0!important;
            }
        }
        .about-service,
        .about-funfacts {
            h6 {
                font-size: 16px!important;
            }
            p {
                font-size: 14px!important;
            }
        }
        .about-funfacts {
            display: flex!important;
            flex-wrap: wrap!important;
            h5 {
                width: 100%!important;
            }
            .column-funfacts {
                width: 50%!important;
            }
            .about-fact1 { order: 1; }
            .about-fact2 { order: 2; }
            .about-fact3 { order: 4; }
            .about-fact4 { order: 3; }
        }
    }

    .cv {
        h2 {
            margin: 50px 50px 0px 50px!important;
        }
        .btn-download .cv{
            margin: 50px 0px!important;
        }
        .wrapper-cv {
            margin: 0!important;
            display: inline-block!important;
        }
        .experience-list {
            margin: 0px 0px 50px 0px!important;
        }
        .education-list {
            margin: 0px 0px 100px 0px!important;
            text-align: left!important;
            h4 {
                text-align: left!important;
                padding: 0 0 0 15px!important;
            }
            p {
                padding: 0 0 0 15px!important;
                border-right: none!important;
                border-left-width: 4px!important;
                border-left-color: var(--yqni13-pink)!important;
                border-left-style: double!important;
            }
        }
        .wrapper-techstack {
            margin: 0 50px!important;
        }
        .techstack-list {
            margin: 0;
            ul {
                width: 100%;
            }
        }
        .techstack-list i {
            width: 40px!important;
            height: 40px!important;
        }
    }

    .portfolio {
        h2 {
            margin: 50px 50px 0px 50px!important;
        }
        .page-header {
            display: flex!important;
            flex-wrap: wrap!important;
            justify-content: center;
            margin: 0px 50px!important;
        }
        .wrapper-portfolio {
            margin: 50px 50px 25px 50px!important;
        }
    }
}

@media screen and (width <= $phone-portrait-width) {

    .home {
        .introduction {
            top: 100px!important;
        }
    }

    .about {
        .about-first-info {
            width: 100%!important;
            margin-top: 50px!important;
        }
        .about-third-info {
            width: 100%!important;
            h5 {
                margin-left: 0px!important;
            }
            form {
                margin: 0px!important;
            }
            .btn-download .about{
                text-align: center!important;
                margin-left: 0px!important;
            }
        }
        .signature-img {
            width: 200px;
        }
        .about-service,
        .about-funfacts {
            margin: 100px 25px 25px 25px!important;
            h5 {
                margin-bottom: 25px!important;
            }
            i {
                margin-top: 25px!important;
            }
        }
        .about-service {
            .about-service1,
            .about-service2 {
                width: 50%!important;
            }
            .about-service3 {
                width: 100%!important;
            }
        }
    }

    .cv {
        .wrapper-techstack h4 {
            margin: 0!important;
        }
    }
}

