

<nav class="nav-bar" data-media="mobile">
    <ul>       
        <li class="nav-collapse"  id="nav-unfold">
            <i class="icon-BurgerMenu nav-mobile" (click)="expandNavMobile()"></i>
        </li>
        <li class="nav-full">
            <img id="nav-logo" src="assets/img/yqni13-small.png" alt="no logo">
        </li>
        <li class="nav-full">
            <span [routerLink]="['home']" routerLinkActive="active-route" (click)="expandNavMobile(true)">Home</span>
        </li>
        <li class="nav-full">
            <span [routerLink]="['about']" routerLinkActive="active-route" (click)="expandNavMobile(true)">About</span>
        </li>
        <li class="nav-full">
            <span [routerLink]="['cv']" routerLinkActive="active-route" (click)="expandNavMobile(true)">CV</span>
        </li>
        <li class="nav-full">
            <span [routerLink]="['portfolio']" routerLinkActive="active-route" (click)="expandNavMobile(true)">Portfolio</span>
        </li>            
        <li>
            <span [ngClass]="setDark" (click)="setLightMode()"><i class="icon-DarkMode" [ngClass]="setDark" id="nav-darkmode"></i></span>
            <span [ngClass]="setLight" (click)="setDarkMode()"><i class="icon-LightMode" [ngClass]="setLight" id="nav-lightmode"></i></span>
        </li>
        <li>
            <div class="link_icons">
                <a href="https://github.com/yqni13" target="_blank"><i class="icon-GitHub"></i></a>
                <a href="https://app.daily.dev/yqni13" target="_blank"><img src="assets/img/dailydev.png"></a>
                <a href="https://leetcode.com/u/yqni13/" target="_blank"><i class="icon-LeetCode"></i></a>
                <a href="https://www.linkedin.com/in/lukas-varga-59532b228/" target="_blank"><i class="icon-LinkedIn"></i></a>
            </div>
            <p><i class="icon-CopyRight" id="nav-copyright"></i> 2024 Lukas Varga</p>
        </li>
    </ul>
    

</nav>


<router-outlet><router-outlet />
