span {
    padding: 0px 10px 0px 10px;
    font-size: 1.5rem;
    font-weight: bolder;
    color: var(--alice-blue);
    opacity: 0.8;
}

span:hover {
    color: var(--yqni13-pink);
    opacity: 0.6;
}

.nav-bar {
    justify-content: left;
    display: block;
}

.nav-bar ul {
    height: 100%;
    overflow: auto;
    position: fixed;
    margin: 0;
    padding: 0;
    scrollbar-width: none;
    background-color: var(--rich-black);

    display: flex;
    flex-direction: column;
    width: 10%;
}

.nav-bar span {
    text-align:right;
}

.nav-bar li {
    display: block;
    text-decoration: none;
    cursor: pointer;
    padding: 30px 10px 0px 10px;

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul>:last-child {
    margin-top: auto;
    margin-bottom: 5%;
    text-align: center;
}

#nav-logo {
    width:65%;
    cursor: default;
}

#nav-darkmode {
    color: var(--darkmode2-grey1);
}

#nav-lightmode {
    color: var(--tangerine-yellow);
}

.setVisible {
    visibility: visible;
    display: inline;
}

.setHidden {
    visibility:hidden;
    display: none;
}
  
.link_icons i {
    color: grey;
    width: 20px;
    height: 20px;
    margin: 0px 8.5px;
}

.link_icons img {
    width: 20px;
    height: 20px;
    color: grey;
    margin: 0px 8.5px;
}

.link_icons i:hover,
.link_icons img:hover {
    opacity: 0.4;
}

#nav-copyright {
    width:12px;
    height: 12px;
    color: grey;
    margin-right: 5px;
    vertical-align: top;
}

ul>:last-child p {
    color: grey;
    font-size: 12px;
}
