

<nav class="nav-bar" data-media="mobile">
    <ul>       
        <li class="nav-collapse" id="nav-unfold">
            <i class="icon-BurgerMenu nav-mobile" (click)="expandNavMobile()"></i>
        </li>
        <li class="nav-full">
            <img id="nav-logo" src="assets/img/yqni13-small.png" alt="no logo" [routerLink]="['home']" (click)="expandNavMobile(true)">
        </li>
        <li class="nav-full">
            <span [routerLink]="['home']" routerLinkActive="active-route" (click)="expandNavMobile(true)">Home</span>
        </li>
        <li class="nav-full">
            <span [routerLink]="['about']" routerLinkActive="active-route" (click)="expandNavMobile(true)">About</span>
        </li>
        <li class="nav-full">
            <span [routerLink]="['cv']" routerLinkActive="active-route" (click)="expandNavMobile(true)">CV</span>
        </li>
        <li class="nav-full">
            <span [routerLink]="['mywork']" routerLinkActive="active-route" (click)="expandNavMobile(true)">Portfolio</span>
        </li>            
        <li>
            <span [ngClass]="setDark" (click)="setLightMode()"><i class="icon-DarkMode" id="nav-darkmode"></i></span>
            <span [ngClass]="setLight" (click)="setDarkMode()"><i class="icon-LightMode" id="nav-lightmode"></i></span>
        </li>
        <li>
            <p class="nav-full nav-issues" (click)="openAlertMsg(); expandNavMobile(true)">-current issues-</p>
            <div class="link_icons">
                <a href="https://github.com/yqni13" target="_blank"><i class="icon-GitHub"></i></a>
                <a href="https://app.daily.dev/yqni13" target="_blank"><img src="assets/img/dailydev.png"></a>
                <a href="https://leetcode.com/u/yqni13/" target="_blank"><i class="icon-LeetCode"></i></a>
                <a href="https://www.xing.com/profile/Lukas_Varga2" target="_blank"><i class="icon-Xing"></i></a>
            </div>
            <p><i class="icon-CopyRight" id="nav-copyright"></i> {{copyrightYear}}, Lukas Varga<br>v{{version}}</p>
        </li>
    </ul>
    

</nav>
<div class="error-msg-box" *ngIf="!isAccepted">
    <div class="error-wrapper">
        <p>
            There are currently problems with the hosting of this project on GitHub => normal navigating by nav-menu works perfectly, <span class="red-msg">refreshing (F5)</span> will lead to <span class="red-msg">Error: 404</span>. I am currently working on this issue. Until issue is closed, this message is available in nav-menu '-current issues-'<br><span class="green-msg">Accept to continue.</span><br>Started: 22.06.2024, v2.2.2<br>
        </p>
        <a (click)="closeAlertMsg()">ACCEPT</a>
    </div>
</div>


<router-outlet><router-outlet />
