h1 {
    color: var(--darkmode3-pink1);
}



span {
    padding: 0px 10px 0px 10px;
    font-size: 20px;
}

.nav-bar {
    justify-content: left;
    display: block;
}

.nav-bar ul {
    height: 100%;
    overflow: auto;
    position: fixed;
    padding: 0px;
    margin: -30px 0px 0px -25px;
    width: 12.5%;
    border: solid 3px var(--alice-blue);
}

.nav-bar span {
    text-align:right;
}

.nav-bar li {
    display: block;
    text-decoration: none;
    cursor: pointer;
    padding: 30px 10px 0px 10px;

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#last_li {
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
    text-align: center;
}

#nav-logo {
    width:65%;
}

#nav-darkmode {
    color: var(--darkmode2-grey1);
}

#nav-lightmode {
    color: var(--tangerine-yellow);
}

.setVisible {
    visibility: visible;
    display: inline;
}

.setHidden {
    visibility:hidden;
    display: none;
}
  
.link_icons i {
    color: grey;
    margin: 0px 8.5px;
}

.link_icons img {
    width: 30px;
    height: 30px;
    color: grey;
    margin: 0px 8.5px;
}

#nav-copyright {
    width:12px;
    height: 12px;
    color: grey;
    margin-right: 5px;
    vertical-align: top;
}

#last_li p {
    color: grey;
    font-size: 12px;
}
