@use '../../../../stylesheets/utilities' as sass;


section {
    margin-top: 0!important;
}

.hero {
    flex-direction: row; // media.scss
    width: 100%;
    min-height: calc(100vh - var(--comp-nav-height));
    margin-top: var(--comp-nav-height)!important;
    overflow: hidden;

    .hero-primary {
        flex-direction: column;
        margin: auto 0;
        width: 100%; // media.scss
        height: 100%; // media.scss
        #hero-header-wrapper {
            flex-direction: column;
            #hero-name {
                font-size: clamp(70px, 10vw, 100px);
                font-weight: 300;
                margin: 0;
                text-transform: uppercase;
                background: var(--theme-yqni13);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
            }
            h2 {
                font-size: clamp(35px, 7.5vw, 70px);
                font-weight: 300;
                margin: 0;
                color: var(--theme-body-text);
            }
            h4 {
                font-size: clamp(25px, 5vw, 40px);
                font-weight: 300;
                margin: 5px 0;
            }
            p {
                font-size: clamp(18px, 2.5vw, 25px);
                font-weight: 300;
                color: var(--theme-nav-grey);
            }
        }
        #hero-btn-wrapper {
            flex-direction: row;
            a:nth-of-type(1) {
                margin-right: sass.$space50;
            }
        }
    }
}

.icon-Chevron {
    rotate: 180deg;
}