<div class="selectinput" ngClass="{{ngClass()}}">
    <i
        id="custom-icon"
        class="icon-base"
        ngClass="{{'icon-' + icon()}}"
    ></i>
    <select
        id="{{'custom-form-' + fieldName()}}"
        name="{{name()}}"
        [formControl]="formControl()"
        (change)="selectOption($event)"
        [ngStyle]="isSelected ? customStyle() : readonlyStyle()"
    >
        <option id="option-placeholder" value="" disabled>{{placeholder()}}</option>
        <hr>
        @for(option of options() ?? {} | keyvalue; track $index) {
            <option
                value="{{option.value}}"
            >{{option.value}}</option>
        }
    </select>
    @if(formControl().invalid && (formControl().dirty || formControl().touched)) {
        <i
            id="error-icon"
            class="icon-base icon-Warning"
            ngClass="warning-input-text"
        ></i>
    }
</div>
<app-validation-input
    [ngControl]="formControl()"
    [fieldName]="fieldName()"
></app-validation-input>