<div class="portfolio-all portfolio-wrapper">
    <div class="card">
        <img src="../../../assets/img/web_music.jpg" alt="no picture available">
        <div class="card-text" href="https://github.com/yqni13/WEB_music">
            <h4>Music Player
                <a href="https://github.com/yqni13/WEB_music" target="_blank" class="a-github">
                    <i class="icon-GitHub"></i>
                </a>
            </h4>
            <p>
                Simple music player, displaying playlist and current playing song in seperate areas. Songs can be played randomly or in loop while pausing and adjusting time and volume.
                <br><br>
                Version: 1.0
            </p>
            <div class="card-technology">
                <a href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank">
                    <i class="icon-HTML5"></i>
                </a>
                <a href="https://developer.mozilla.org/en-US/docs/Web/CSS?retiredLocale=de" target="_blank">
                    <i class="icon-CSS3"></i>
                </a>
                <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank">
                    <i class="icon-Javascript"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="card">
        <img src="../../../assets/img/be_tourplanner.jpg" alt="no picture available">
        <div class="card-text">
            <h4>Tourplanner
                <a href="https://github.com/yqni13/TourPlanner" target="_blank" class="a-github">
                    <i class="icon-GitHub"></i>
                </a>
            </h4>
            <p>
                App to plan tours was built with C# in a layer-based architecture meanwhile the UI was implemented via WPF. It enables to create tours with some information, multiple logs for a single tour and a graphical visualization.
                <br><br>
                Version: 1.0, University Project
            </p>
            <div class="card-technology">
                <a href="https://dotnet.microsoft.com/en-us/languages/csharp" target="_blank">
                    <i class="icon-CSharp"></i>
                </a>
                <a href="https://learn.microsoft.com/en-us/visualstudio/get-started/csharp/tutorial-wpf?view=vs-2022" target="_blank">
                    <i class="icon-MicrosoftWPF"></i>
                </a>
                <a href="https://www.postgresql.org/" target="_blank">
                    <i class="icon-PostgreSQL"></i>
                </a>
                <a href="https://developer.mapquest.com/" target="_blank">
                    <i class="icon-MapQuest"></i>
                </a>
                <a href="https://www.json.org/json-en.html" target="_blank">
                    <i class="icon-JSON"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="card">
        <img src="../../../assets/img/web_todo.jpg" alt="no picture available">
        <div class="card-text">
            <h4>ToDo-List
                <a href="https://github.com/yqni13/WEB_todo-list" target="_blank" class="a-github">
                    <i class="icon-GitHub"></i>
                </a>
            </h4>
            <p>
                Mini web-project for a tool: the todo-list. Tasks can be entered via the input field by clicking the "add"-button or hit enter key. Created tasks or whole list can be removed or highlighted as done by clicking on the entry itself.
                <br><br>
                Version: 1.2
            </p>
            <div class="card-technology">
                <a href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank">
                    <i class="icon-HTML5"></i>
                </a>
                <a href="https://developer.mozilla.org/en-US/docs/Web/CSS?retiredLocale=de" target="_blank">
                    <i class="icon-CSS3"></i>
                </a>
                <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank">
                    <i class="icon-Javascript"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="card">
        <img src="../../../assets/img/web_game1.jpg" alt="no picture available">
        <div class="card-text">
            <h4>Rock-Paper-Scissors
                <a href="https://github.com/yqni13/WEB_rock-paper-scissors" target="_blank" class="a-github">
                    <i class="icon-GitHub"></i>
                </a>
            </h4>
            <p>
                Mini web-project for a game user vs. random-generator. The user can choose a "figure" and play against random choice. A counter shows the score of user and the system and additionally a message for win, loose or draw is shown after each game play.
                <br><br>
                Version: 1.0
            </p>
            <div class="card-technology">
                <a href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank">
                    <i class="icon-HTML5"></i>
                </a>
                <a href="https://developer.mozilla.org/en-US/docs/Web/CSS?retiredLocale=de" target="_blank">
                    <i class="icon-CSS3"></i>
                </a>
                <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank">
                    <i class="icon-Javascript"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="card">
        <img src="../../../assets/img/web_rating.jpg" alt="no picture available">
        <div class="card-text">
            <h4>Rating
                <a href="" target="_blank" class="a-github">
                    <i class="icon-GitHub"></i>
                </a>
            </h4>
            <p>
                Mini web-project to take a rating from 1 to 5 stars. Rating can be done by clicking on a star from left to right which fill up the stars with color (white equals not selected).
                <br><br>
                Version: 1.0
            </p>
            <div class="card-technology">
                <a href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank">
                    <i class="icon-HTML5"></i>
                </a>
                <a href="https://developer.mozilla.org/en-US/docs/Web/CSS?retiredLocale=de" target="_blank">
                    <i class="icon-CSS3"></i>
                </a>
                <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank">
                    <i class="icon-Javascript"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="card">
        <img src="../../../assets/img/web_clock.jpg" alt="no picture available">
        <div class="card-text">
            <h4>Tik tak
                <a href="" target="_blank" class="a-github">
                    <i class="icon-GitHub"></i>
                </a>
            </h4>
            <p>
                Mini web-project to show the current time of your time-zone and date.
                <br><br>
                Version: 1.0
            </p>
            <div class="card-technology">
                <a href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank">
                    <i class="icon-HTML5"></i>
                </a>
                <a href="https://developer.mozilla.org/en-US/docs/Web/CSS?retiredLocale=de" target="_blank">
                    <i class="icon-CSS3"></i>
                </a>
                <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank">
                    <i class="icon-Javascript"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="card">
        <img src="../../../assets/img/web_stopwatch.jpg" alt="no picture available">
        <div class="card-text">
            <h4>Stopwatch
                <a href="" target="_blank" class="a-github">
                    <i class="icon-GitHub"></i>
                </a>
            </h4>
            <p>
                Mini web-project to stop the time you take to do anything. For a simple logic the user can start the timer, pause it and reset.
                <br><br>
                Version: 1.0
            </p>
            <div class="card-technology">
                <a href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank">
                    <i class="icon-HTML5"></i>
                </a>
                <a href="https://developer.mozilla.org/en-US/docs/Web/CSS?retiredLocale=de" target="_blank">
                    <i class="icon-CSS3"></i>
                </a>
                <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank">
                    <i class="icon-Javascript"></i>
                </a>
            </div>
        </div>
    </div>
</div>
