<div class="portfolio-all portfolio-wrapper">
    <div class="card">
        <img src="assets/img/web_heavensedge.jpg">
        <div class="card-text">
            <h4>{{projectData["HeavensEdge"].title}}
                <a href="https://github.com/yqni13/WEB_HeavensEdge_clone" target="_blank" class="a-github">
                    <i class="icon-GitHub"></i>
                </a>
            </h4>
            <p>
                keywords:<br>
                {{projectData["HeavensEdge"].keywords}}
                <br><br>
                v{{projectData["HeavensEdge"].version}}
            </p>
            <div class="card-technology">
                <a href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank">
                    <i class="icon-HTML5"></i>
                </a>
                <a href="https://developer.mozilla.org/en-US/docs/Web/CSS?retiredLocale=de" target="_blank">
                    <i class="icon-CSS3"></i>
                </a>
                <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank">
                    <i class="icon-Javascript"></i>
                </a>
                <a href="https://leafletjs.com/" target="_blank">
                    <i class="icon-Leaflet"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="card">
        <img src="assets/img/web_music.jpg" alt="no picture available">
        <div class="card-text">
            <h4>{{projectData["MusicPlayer"].title}}
                <a href="https://github.com/yqni13/WEB_music" target="_blank" class="a-github">
                    <i class="icon-GitHub"></i>
                </a>
            </h4>
            <p>
                keywords:<br>
                {{projectData["MusicPlayer"].keywords}}
                <br><br>
                v{{projectData["MusicPlayer"].version}}
            </p>
            <div class="card-technology">
                <a href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank">
                    <i class="icon-HTML5"></i>
                </a>
                <a href="https://developer.mozilla.org/en-US/docs/Web/CSS?retiredLocale=de" target="_blank">
                    <i class="icon-CSS3"></i>
                </a>
                <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank">
                    <i class="icon-Javascript"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="card">
        <img src="assets/img/web_clock.jpg" alt="no picture available">
        <div class="card-text">
            <h4>{{projectData["Clock"].title}}
                <a href="https://github.com/yqni13/WEB_clock" target="_blank" class="a-github">
                    <i class="icon-GitHub"></i>
                </a>
            </h4>
            <p>
                keywords:<br>
                {{projectData["Clock"].keywords}}
                <br><br>
                v{{projectData["Clock"].version}}
            </p>
            <div class="card-technology">
                <a href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank">
                    <i class="icon-HTML5"></i>
                </a>
                <a href="https://developer.mozilla.org/en-US/docs/Web/CSS?retiredLocale=de" target="_blank">
                    <i class="icon-CSS3"></i>
                </a>
                <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank">
                    <i class="icon-Javascript"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="card">
        <img src="assets/img/be_tourplanner.jpg" alt="no picture available">
        <div class="card-text">
            <h4>{{projectData["Tourplanner"].title}}
                <a href="https://github.com/yqni13/TourPlanner" target="_blank" class="a-github">
                    <i class="icon-GitHub"></i>
                </a>
            </h4>
            <p>
                keywords:<br>
                {{projectData["Tourplanner"].keywords}}
                <br><br>
                v{{projectData["Tourplanner"].version}}, University Project
            </p>
            <div class="card-technology">
                <a href="https://dotnet.microsoft.com/en-us/languages/csharp" target="_blank">
                    <i class="icon-CSharp"></i>
                </a>
                <a href="https://learn.microsoft.com/en-us/visualstudio/get-started/csharp/tutorial-wpf?view=vs-2022" target="_blank">
                    <i class="icon-MicrosoftWPF"></i>
                </a>
                <a href="https://www.postgresql.org/" target="_blank">
                    <i class="icon-PostgreSQL"></i>
                </a>
                <a href="https://developer.mapquest.com/" target="_blank">
                    <i class="icon-MapQuest"></i>
                </a>
                <a href="https://www.json.org/json-en.html" target="_blank">
                    <i class="icon-JSON"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="card">
        <img src="assets/img/web_todo.jpg" alt="no picture available">
        <div class="card-text">
            <h4>{{projectData["ToDo"].title}}
                <a href="https://github.com/yqni13/WEB_todo-list" target="_blank" class="a-github">
                    <i class="icon-GitHub"></i>
                </a>
            </h4>
            <p>
                keywords:<br>
                {{projectData["ToDo"].keywords}}
                <br><br>
                v{{projectData["ToDo"].version}}
            </p>
            <div class="card-technology">
                <a href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank">
                    <i class="icon-HTML5"></i>
                </a>
                <a href="https://developer.mozilla.org/en-US/docs/Web/CSS?retiredLocale=de" target="_blank">
                    <i class="icon-CSS3"></i>
                </a>
                <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank">
                    <i class="icon-Javascript"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="card">
        <img src="assets/img/web_game1.jpg" alt="no picture available">
        <div class="card-text">
            <h4>{{projectData["RockPaperScissors"].title}}
                <a href="https://github.com/yqni13/WEB_rock-paper-scissors" target="_blank" class="a-github">
                    <i class="icon-GitHub"></i>
                </a>
            </h4>
            <p>
                keywords:<br>
                {{projectData["RockPaperScissors"].keywords}}
                <br><br>
                v{{projectData["RockPaperScissors"].version}}
            </p>
            <div class="card-technology">
                <a href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank">
                    <i class="icon-HTML5"></i>
                </a>
                <a href="https://developer.mozilla.org/en-US/docs/Web/CSS?retiredLocale=de" target="_blank">
                    <i class="icon-CSS3"></i>
                </a>
                <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank">
                    <i class="icon-Javascript"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="card">
        <img src="assets/img/web_rating.jpg" alt="no picture available">
        <div class="card-text">
            <h4>{{projectData["Rating"].title}}
                <a href="https://github.com/yqni13/WEB_rating" target="_blank" class="a-github">
                    <i class="icon-GitHub"></i>
                </a>
            </h4>
            <p>
                keywords:<br>
                {{projectData["Rating"].keywords}}
                <br><br>
                v{{projectData["Rating"].version}}
            </p>
            <div class="card-technology">
                <a href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank">
                    <i class="icon-HTML5"></i>
                </a>
                <a href="https://developer.mozilla.org/en-US/docs/Web/CSS?retiredLocale=de" target="_blank">
                    <i class="icon-CSS3"></i>
                </a>
                <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank">
                    <i class="icon-Javascript"></i>
                </a>
            </div>
        </div>
    </div>
</div>
