<div class="portfolio-wrapper">
    <div *ngFor="let project of (projectData | async) | keyvalue" class="card">
        <img src="{{project.value.cardScreenPath}}" alt="screenshot of project missing">
        <div class="card-text">
            <h4>{{project.value.title}}
                <a href="{{project.value.githublink}}" target="_blank" class="a-github">
                    <i class="icon-GitHub"></i>
                </a>
            </h4>
            <p>
                keywords:<br>
                {{project.value.keywords}}
                <br><br>
                v{{project.value.version}}
            </p>
            <div  class="card-technology">
                <a *ngFor="let url of project.value.techURLs; index as i" href="{{url}}" target="_blank">
                    <i class="{{project.value.techImgClasses[i]}}"></i>
                </a>
            </div>
        </div>
    </div>
</div>