<div class="portfolio-wrapper">
    <div *ngFor="let obj of (projectData | async) | keyvalue" class="card">
        <img src='{{obj.value.cardScreenPath}}'>
        <div class="card-text">
            <h4>{{obj.value.title}}
                <a href="{{obj.value.githublink}}" target="_blank" class="a-github">
                    <i class="icon-GitHub"></i>
                </a>
            </h4>
            <p>
                keywords:<br>
                {{obj.value.keywords}}
                <br><br>
                v{{obj.value.version}}
            </p>
            <div  class="card-technology">
                <a *ngFor="let tech of obj.value.techURLs; index as i" href="{{tech}}" target="_blank">
                    <i class="{{obj.value.techImgClasses[i]}}"></i>
                </a>
            </div>
        </div>
    </div>
</div>