<section class="about" id="head-about">
    <div class="page-head-wrapper">
        <h3>{{data.title}}</h3>
        <span class="head-text">{{data.subTitle}}</span>
    </div>
    <div class="about-content">
        <div class="about-content-img" [ngStyle]="imgByTheme">
            <img id="signature-img" src="assets/img/signature.png" alt="my picture">
        </div>
        <div class="about-content-description">
            <div id="description-wrapper">
                <h4>{{myInfo['intro']}}</h4>
                <p>{{myInfo['text']}}</p>
                <div id="hint-wrapper">
                    <span>{{myInfo['hint1']}}<a>{{myInfo['alias']}}</a>{{myInfo['hint2']}}</span>
                </div>
            </div>
        </div>
    </div>
</section>