@use 'stylesheets/utilities' as sass;

@use 'stylesheets/defines.scss';
@use 'stylesheets/icons.scss';


html {
    scrollbar-width: none;
    scroll-behavior: smooth;
    cursor: context-menu;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
}

body {
    color: var(--theme-body-text);
    background-color: var(--theme-body-bg);
    width: 100vw;
    height: 100%;
    margin: 0;
    padding: 0;
}

div,
section {
    display: flex;
}