@if(themeHandler.activeTheme() === ThemeOptionEnum.DARK) {
    <div class="background-darkmode uiverse-midnight-sky">
        <div class="sky-canvas">
            <div class="stars stars-1"></div>
            <div class="stars stars-2"></div>
            <div class="stars stars-3"></div>
    
            <div class="meteor m1"></div>
            <div class="meteor m2"></div>
            <div class="meteor m3"></div>
    
            <div class="moon"></div>
        </div>
    </div>
} @else {
    <div class="background-lightmode container">
        <span class="sun sunshine"></span>
        <span class="sun"></span>
    </div>
}