@use '../../../../stylesheets/utilities' as sass;


$icon-margin-custom: 7.5px;
$icon-margin-error: 7.5px;
$icon-size-custom: 20px;
$icon-size-warning: 30px;
$icon-padding-custom: calc(($icon-margin-custom * 2) + $icon-size-custom);
$icon-padding-error: calc(($icon-margin-error * 2) + $icon-size-warning);
$border: 2px;

app-validation-input {
    position: relative;
    bottom: 0;
    left: 0;
}

#custom-icon {
    $size: 20px;
    position: absolute;
    align-self: center;
    width: 20px;
    height: 20px;
    margin: 0 $icon-margin-custom 0 calc($icon-margin-custom + $border);
    color: var(--theme-grey);
}

#error-icon {
    display: flex;
    position: absolute;
    justify-self: end;
    color: var(--theme-error);
}

.warning-input-text {
    position: absolute;
    align-self: center;
    justify-content: end;
    margin-right: 7.5px;
}