<div class="portfolio-mini portfolio-wrapper">
    <div class="card">
        <img src="assets/img/web_clock.jpg" alt="no picture available">
        <div class="card-text">
            <h4>{{projectData["Clock"].title}}
                <a href="https://github.com/yqni13/WEB_clock" target="_blank" class="a-github">
                    <i class="icon-GitHub"></i>
                </a>
            </h4>
            <p>
                keywords:<br>
                {{projectData["Clock"].keywords}}
                <br><br>
                v{{projectData["Clock"].version}}
            </p>
            <div class="card-technology">
                <a href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank">
                    <i class="icon-HTML5"></i>
                </a>
                <a href="https://developer.mozilla.org/en-US/docs/Web/CSS?retiredLocale=de" target="_blank">
                    <i class="icon-CSS3"></i>
                </a>
                <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank">
                    <i class="icon-Javascript"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="card">
        <img src="assets/img/web_todo.jpg" alt="no picture available">
        <div class="card-text">
            <h4>{{projectData["ToDo"].title}}
                <a href="https://github.com/yqni13/WEB_todo-list" target="_blank" class="a-github">
                    <i class="icon-GitHub"></i>
                </a>
            </h4>
            <p>
                keywords:<br>
                {{projectData["ToDo"].keywords}}
                <br><br>
                v{{projectData["ToDo"].version}}
            </p>
            <div class="card-technology">
                <a href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank">
                    <i class="icon-HTML5"></i>
                </a>
                <a href="https://developer.mozilla.org/en-US/docs/Web/CSS?retiredLocale=de" target="_blank">
                    <i class="icon-CSS3"></i>
                </a>
                <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank">
                    <i class="icon-Javascript"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="card">
        <img src="assets/img/web_game1.jpg" alt="no picture available">
        <div class="card-text">
            <h4>{{projectData["RockPaperScissors"].title}}
                <a href="https://github.com/yqni13/WEB_rock-paper-scissors" target="_blank" class="a-github">
                    <i class="icon-GitHub"></i>
                </a>
            </h4>
            <p>
                keywords:<br>
                {{projectData["RockPaperScissors"].keywords}}
                <br><br>
                v{{projectData["RockPaperScissors"].version}}
            </p>
            <div class="card-technology">
                <a href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank">
                    <i class="icon-HTML5"></i>
                </a>
                <a href="https://developer.mozilla.org/en-US/docs/Web/CSS?retiredLocale=de" target="_blank">
                    <i class="icon-CSS3"></i>
                </a>
                <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank">
                    <i class="icon-Javascript"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="card">
        <img src="assets/img/web_rating.jpg" alt="no picture available">
        <div class="card-text">
            <h4>{{projectData["Rating"].title}}
                <a href="https://github.com/yqni13/WEB_rating" target="_blank" class="a-github">
                    <i class="icon-GitHub"></i>
                </a>
            </h4>
            <p>
                keywords:<br>
                {{projectData["Rating"].keywords}}
                <br><br>
                v{{projectData["Rating"].version}}
            </p>
            <div class="card-technology">
                <a href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank">
                    <i class="icon-HTML5"></i>
                </a>
                <a href="https://developer.mozilla.org/en-US/docs/Web/CSS?retiredLocale=de" target="_blank">
                    <i class="icon-CSS3"></i>
                </a>
                <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank">
                    <i class="icon-Javascript"></i>
                </a>
            </div>
        </div>
    </div>
</div>