<div class="portfolio-mini portfolio-wrapper">
    <div class="card">
        <img src="assets/img/web_todo.jpg" alt="no picture available">
        <div class="card-text">
            <h4>{{projectData[4].title}}
                <a href="https://github.com/yqni13/WEB_todo-list" target="_blank" class="a-github">
                    <i class="icon-GitHub"></i>
                </a>
            </h4>
            <p>
                keywords:<br>
                {{projectData[4].keywords}}
                <br><br>
                v{{projectData[4].version}}
            </p>
            <div class="card-technology">
                <a href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank">
                    <i class="icon-HTML5"></i>
                </a>
                <a href="https://developer.mozilla.org/en-US/docs/Web/CSS?retiredLocale=de" target="_blank">
                    <i class="icon-CSS3"></i>
                </a>
                <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank">
                    <i class="icon-Javascript"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="card">
        <img src="assets/img/web_game1.jpg" alt="no picture available">
        <div class="card-text">
            <h4>{{projectData[3].title}}
                <a href="https://github.com/yqni13/WEB_rock-paper-scissors" target="_blank" class="a-github">
                    <i class="icon-GitHub"></i>
                </a>
            </h4>
            <p>
                keywords:<br>
                {{projectData[3].keywords}}
                <br><br>
                v{{projectData[3].version}}
            </p>
            <div class="card-technology">
                <a href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank">
                    <i class="icon-HTML5"></i>
                </a>
                <a href="https://developer.mozilla.org/en-US/docs/Web/CSS?retiredLocale=de" target="_blank">
                    <i class="icon-CSS3"></i>
                </a>
                <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank">
                    <i class="icon-Javascript"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="card">
        <img src="assets/img/web_rating.jpg" alt="no picture available">
        <div class="card-text">
            <h4>{{projectData[2].title}}
                <a href="" target="_blank" class="a-github">
                    <i class="icon-GitHub"></i>
                </a>
            </h4>
            <p>
                keywords:<br>
                {{projectData[2].keywords}}
                <br><br>
                v{{projectData[2].version}}
            </p>
            <div class="card-technology">
                <a href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank">
                    <i class="icon-HTML5"></i>
                </a>
                <a href="https://developer.mozilla.org/en-US/docs/Web/CSS?retiredLocale=de" target="_blank">
                    <i class="icon-CSS3"></i>
                </a>
                <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank">
                    <i class="icon-Javascript"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="card">
        <img src="assets/img/web_clock.jpg" alt="no picture available">
        <div class="card-text">
            <h4>{{projectData[1].title}}
                <a href="" target="_blank" class="a-github">
                    <i class="icon-GitHub"></i>
                </a>
            </h4>
            <p>
                keywords:<br>
                {{projectData[1].keywords}}
                <br><br>
                v{{projectData[1].version}}
            </p>
            <div class="card-technology">
                <a href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank">
                    <i class="icon-HTML5"></i>
                </a>
                <a href="https://developer.mozilla.org/en-US/docs/Web/CSS?retiredLocale=de" target="_blank">
                    <i class="icon-CSS3"></i>
                </a>
                <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank">
                    <i class="icon-Javascript"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="card">
        <img src="assets/img/web_stopwatch.jpg" alt="no picture available">
        <div class="card-text">
            <h4>{{projectData[0].title}}
                <a href="" target="_blank" class="a-github">
                    <i class="icon-GitHub"></i>
                </a>
            </h4>
            <p>
                keywords:<br>
                {{projectData[0].keywords}}
                <br><br>
                v{{projectData[0].version}}
            </p>
            <div class="card-technology">
                <a href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank">
                    <i class="icon-HTML5"></i>
                </a>
                <a href="https://developer.mozilla.org/en-US/docs/Web/CSS?retiredLocale=de" target="_blank">
                    <i class="icon-CSS3"></i>
                </a>
                <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank">
                    <i class="icon-Javascript"></i>
                </a>
            </div>
        </div>
    </div>
</div>