@use '../../../../stylesheets/utilities' as sass;


footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;

    .footer-dialog-wrapper {
        align-items: center;
        i,
        img {
            width: 35px;
            height: 35px;
        }
        #monster {
            margin: 0 3px;
        }
        #love {
            margin: 0 6px;
            color: var(--theme-error);
        }
    }
}