/* You can add global styles to this file, and also import other style files */

@import 'stylesheets/media.scss';
@import 'stylesheets/icons.scss';
@import 'stylesheets/defines.scss';
@import 'stylesheets/colors.scss';

$font-selection: system-ui;

html {
    cursor: context-menu;
    font-family: $font-selection;
    scrollbar-width: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

body {
    background: var(--body-bg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    height:100vh;
    margin:0;
    text-align: center;
    width:100vw;
}

mat-toolbar {
    justify-content: center;    
}

h1, 
h2, 
h3, 
h4, 
h5 {
    color: var(--header-color);
    margin-block-start: 0px;
    margin-block-end: 0px;
}

h1 {
    font-size: 50px;
    text-align: left;
    text-transform: uppercase;
}

h2 {
    border-bottom: solid var(--border-line);
    font-size: 48px;
    margin: 50px 100px 0px 100px;
    text-align: left;
    &:after {
        color: var(--lightopacity-grey);
        font-size: 80px;
        left: 210px;
        position: absolute;
        top: 17px;
        z-index: -1;
    }
}

/* only for portfolio card-text */
h4 {
    font-size:34px;
    margin-block-end: -10px;
    margin-left: 50px;
    text-align: left;
}

h5 {
    font-size:28px;
    text-align:left;
}

.container {
    margin-left: 12.5%;
}

p {
    color: var(--text-color);
}

input {
    font-family: $font-selection!important;
}

.active-route {
    background: var(--active-link);
    font-weight: bolder;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-action-extern {
    text-transform: uppercase;
    
    a {
        background: transparent;
        border: outset var(--button-color) 3px;
        border-radius: 10px;
        color: var(--button-color);
        cursor: pointer;
        font-weight: bold;
        letter-spacing: 1px;
        padding: 10px 25px;
        text-decoration: none;
        
        &:active {
            background-color: var(--button-color);
            border: inset var(--button-color) 1px;
            color: var(--alice-blue);
        }
        &:hover {
            opacity: 0.6;
        }
    }
}

.scroll-indication {
    position: fixed;
    color: var(--text-color);
    bottom: 15px;
    left: var(--scroll-margin);
    opacity: 0.75;
    animation: indicatescroll 2s infinite;
    -webkit-animation: indicatescroll 2s infinite;
    -moz-animation: indicatescroll 2s infinite;
    -o-animation: indicatescroll 2s infinite;
}

@keyframes indicatescroll {
    0% { transform: translateY(-5px); };
    50% { transform: translateY(5px); };
    100% { transform: translateY(-5px); };
}