/* You can add global styles to this file, and also import other style files */

@import "./stylesheets/colors.scss";
@import "./stylesheets/media.scss";
@import "./stylesheets/icons.scss";

html {
    scrollbar-width: none;
}

body {
    text-align: center;
}

mat-toolbar {
    justify-content: center;    
}

h1 {

}

h2 {
    color: var(--darkmode6-grey3);
    font-size: 48px;
    text-align: left;
    margin: 30px 100px 0px 100px;
    border-bottom: solid var(--alice-blue);
}

/* only for portfolio card-text */
h4 {
    font-size:30px;
    color: var(--alice-blue);
    margin-block-end: -10px;
    text-align: left;
    padding-left: 50px;
}

.container {
    margin-left: 12.5%;
}