<section class="box home" *yqni13Var="user$ | async as userData">
    <div class="column introduction">
        <h1 class="fading-header">
            Hi, I'm 
            <span>{{(userData.firstname)}}!</span>
            <br>
            <span class="frontend">Frontend</span>
            <span>-Developer</span>
        </h1>
        <p class="fading-quote">
            "When you take on a task, finding the best ways to achieve the desired result is always your responsibility." - Gilbert's Law
        </p>
    </div>
    <div class="column profile">
        <div class="profile-picture">
            <img src="assets/img/transparent_profile_home.png" alt="">
        </div>
    </div>
</section>
