<section class="box home">
    <div class="column introduction">
        <h1 class="fading-header">
            <span>Hi, </span>
            <span>I'm </span>
            <span>{{user.firstname}}!</span>
            <br>
            <span class="frontend">Frontend</span>
            <span>-Developer</span>
        </h1>
        <p class="fading-quote">
            <span>"When </span>
            <span>you </span>
            <span>take </span>
            <span>on </span>
            <span>a </span>
            <span>task, </span>
            <span>finding </span>
            <span>the </span>
            <span>best </span>
            <span>ways </span>
            <span>to </span>
            <span>achieve </span>
            <span>the </span>
            <span>desired </span>
            <span>result </span>
            <span>is </span>
            <span>always </span>
            <span>your </span>
            <span>responsibility."</span>
            <span>- </span>
            <span>Gilbert's </span>
            <span>Law</span>
        </p>
    </div>
    <div class="column profile">
        <div class="profile-picture">
            <img src="assets/img/transparent_profile_home.png" alt="">
        </div>
    </div>
</section>
