.home {
    height: 100vh;
    align-content: center;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    z-index: 1;
    background-color: transparent;
}

.home::before {
    background-image: url(../../assets/img/wallpaper3.png);
    background-size: cover;
    background-position-y: 20%;
    opacity: var(--opacity-bg);
    z-index: -1;
    width: 100%;
    height: 100%;
    content: '';
    position: fixed;
}

.column {
    display: flex;
    flex-direction: column;
}

.introduction {
    align-self: center;
    text-align: left;
    p {
        color: var(--header-color);
    }
}

.frontend {
    background: var(--home-frontend);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.profile-picture {
    rotate: -5deg;
    border-radius: 25px;
    img {
        background-image: var(--home-img);
        border-radius:30px;
        border: solid var(--navbar-border) 2px;
    }
}