<section class="box home">
    <div class="column left">
        <h1>
            Hi, I'm {{user.firstname}}!<br>
            <span id="frontend">Frontend</span>-Developer
        </h1>
        <p>
            "When you take on a task, 
            finding the best ways to achieve 
            the desired result is always your responsibility."
            <br>- Gilbert's Law
        </p>
    </div>
    <div class="column right">
        <div class="profile-picture">
            <img id="profile_home_img" src="assets/img/transparent_profile_home.png" alt="">
        </div>
    </div>
</section>
