.home {
    height: 100vh;
    align-content: center;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    z-index: 1;
    background-color: transparent;
}

.column {
    display: flex;
    flex-direction: column;
}

.home-wrapper {
    width: 100%;
    display: flex;
    justify-content: left;
}

video {
    filter: grayscale(var(--home-grayscale));
    width: 100%;
    height: 100vh;
    opacity: var(--opacity-bg);
    object-fit: cover;
}

.introduction {
    position: absolute;
    top: 125px;
    left: var(--nav-size);
    align-self: center;
    text-align: left;
    animation: appear 3s ease-in-out;

    h1 span:not(.frontend) {
        filter: brightness(var(--home-brightness));
    }
    
    p {
        filter: brightness(var(--home-brightness));
        color: var(--header-color);
    }
}

.frontend {
    background: var(--home-frontend);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes appear {
    0% {
        opacity: 0;
    }    
    100% {
        opacity: 1;
    }
}