@use '../../../../../stylesheets/utilities' as sass;


.scrolldown-indicator-wrapper {
    position: relative;
    width: fit-content;
    a {
        span {
            position: absolute;
            top: 0;
            left: 50%;
            border-left: 1px solid var(--theme-primary);
            border-bottom: 1px solid var(--theme-primary);
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
            -webkit-animation: scrolling 2s infinite;
            animation: scrolling 2s infinite;
            opacity: 0;
            box-sizing: border-box;
        }
        span:nth-of-type(1) {
            -webkit-animation-delay: 0s;
            animation-delay: 0s;
        }
        span:nth-of-type(2) {
            top: 16px;
            -webkit-animation-delay: .15s;
            animation-delay: .15s;
        }
        span:nth-of-type(3) {
            top: 32px;
            -webkit-animation-delay: .3s;
            animation-delay: .3s;
        }
    }

    .a-option-small {
        padding-top: 40px;
        .span-option-small {
            width: 13px;
            height: 13px;
            margin-left: 15px;
        }
    }

    .a-option-medium {
        padding-top: 55px;
        .span-option-medium {
            width: 18px;
            height: 18px;
            margin-left: 5px;
        }
    }

    .a-option-big {
        padding-top: 80px;
        .span-option-big {
            width: 24px;
            height: 24px;
            margin-left: -12px;
        }
    }
}

@-webkit-keyframes scrolling {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes scrolling {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}