<div class="textareainput" ngClass="{{ngClass()}}">
    <i
        id="custom-icon"
        class="icon-base"
        ngClass="{{'icon-' + icon()}}"
    ></i>
    <textarea
        id="{{'custom-form-' + fieldName()}}"
        name="{{name()}}"
        class="roboto-custom-font"
        [formControl]="formControl()"
        placeholder="{{placeholder()}}"
        [ngStyle]="customStyle()"
        rows="{{rows()}}"
        maxlength="{{maxLength()}}"
    ></textarea>
    @if(formControl().invalid && (formControl().dirty || formControl().touched)) {
        <i
            id="error-icon"
            class="icon-base icon-Warning"
            ngClass="warning-input-text"
        ></i>
    }
</div>
<app-validation-input
    [ngControl]="formControl()"
    [fieldName]="fieldName()"
></app-validation-input>